.cashOperationContainer {
  width: 384px;
  height: 88px;
  border: 1px solid #eceff2;
  border-radius: 12px;
  background-color: hsl(0, 0%, 100%);
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  cursor: pointer;
  transition: 0.25s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.iconBox {
  width: 48px;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 24px;
    height: auto;
  }
}

.textCtn {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #333e47;
}

.description {
  font-size: 14px;
  line-height: 20px;
  color: #516778;
}
