*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pageContent {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 48px 0;
}

.app {
  background-color: #f9fafb;
}
